.cart-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cart-quantity {
    font-size: 2rem;
    text-align: center;
    padding: 8px;
}

.cart-controller * {
    flex: 1;
}

.cart-control-button {
    background-color: black;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

.cart-control-button:hover {
    background-color: #555;
}

.CartView {
    padding: 32px;
}

#cart-view {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

#empty-cart {
    text-align: center;
    font-size: 2rem;
}

.product-list-view {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    border: 2px solid black;
    align-items: center;
    border-radius: 8px;
}

.product-cart-image {
    padding: 8px;
    width: 20%;
    height: 200px;
    border-radius: 16px;
    cursor: pointer;
}

.cart-main-control {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: start;
}

.cart-main-control #title {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.cart-main-control #title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cart-main-control #quantity {
    font-size: 1rem;
    flex: 1;
}

.cart-total-price {
    display: flex;
    width: 30%;
    flex-direction: column;

}

.cart-total-price * {
    margin: 0;
    padding: 0;
}

.unit-price {
    font-size: 1rem;
    color: #6A6A6A;
    text-align: end;
}

.total-price {
    font-size: 2rem;
    font-weight: bold;
    text-align: end;
}

.back-button {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    margin-bottom: 24px;
    border: none;
}

.back-button:hover {
    background-color: #555;
}

#cart-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

#clear-cart {
    background-color: black;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    border-radius: 8px;
}

#cart-total h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.GridView {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 32px;
	padding: 32px;
}

#dropdown-basic-button {
    background-color: black;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
}

#dropdown-basic-button:hover {
    background-color: #555;
}

.dropdown-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    padding: 8px;
}

#logo {
    text-align: center;
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    cursor: pointer;
    padding: 0 16px;
    margin: 0;
}

.Header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid black;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

#header-sub-logo-drop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#cart {
    flex: 1;
    width: 32px;
    height: 32px;
    margin: 0 8px;
}

#cart-div {
    position: relative;
    cursor: pointer;
}

#cart-div span {
    position: absolute;
    top: -4px;
    right: 0;
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 2px;
    width: 16px;
    height: 16px;
    font-size: 0.5rem;
    text-align: center;
    border-radius: 50%;
}

.display-heading {
    font-size: 2.5rem;
    padding: 16px 32px;
    margin: 0;
    margin-top: 32px;
}

#empty-message {
    font-size: 1.5rem;
    padding: 16px;
    margin: 0;
    text-align: center;
}

#pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 60px;
    padding: 16px;
}

#pagination button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 8px;
}

#pagination button:hover {
    background-color: #555;
}

#pagination button:disabled {
    background-color: #AAA;
    cursor: not-allowed;
}

#pagination p {
    margin: 0;
}

.ProductCard {
	display: flex;
	flex-direction: column;
	justify-content: start;
	padding: 24px;
	border-radius: 0.5rem;
	background-color: #fff;
	border: 1px solid black;
	box-shadow: 4px 4px 8px grey;
	transition: 0.2s;
	gap: 8px;
}

.ProductCard:hover {
	box-shadow: 8px 8px 16px grey;
	transform: translate(-4px, -4px);
	transition: 0.2s;
}

.ProductCard img {
	width: 100%;
	height: 100%;
	max-height: 20vh;
	border-radius: 16px;
	cursor: pointer;
	margin: 0;
}

.product-details {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.product-details p {
	margin: 0;
}

.product-details #title {
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding: 4px;
	margin: 0;
}

.product-details #title:hover {
	cursor: pointer;
	text-decoration: underline;
}

.product-details #rating {
	font-size: 1rem;
	color: white;
	background-color: black;
	display: inline-block;
	width: fit-content;
	padding: 8px;
	border-radius: 8px;
}

.product-details #description {
	font-size: 1rem;
	color: #6A6A6A;
	padding: 4px;
}

.product-price-div {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.product-price-div #old-price {
	text-decoration: line-through;
	color: darkgray;
}

.product-pricing {
	display: flex;
	flex-direction: row;
	gap: 4px;
	align-items: center;
}

.product-pricing #price {
	font-size: 1.5rem;
	font-weight: bold;
}

.product-pricing #discount {
	font-size: 1rem;
	color: #FF0000;
}

#ProductDetails {
    padding: 32px;
}

#details-pane {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
    gap: 32px;
}

#image-pane {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 8px;
    gap: 32px;
}

#image-pane img {
    width: 75px;
    height: 75px;
    padding: 8px;
}

#image-pane img:hover {
    cursor: pointer;
    background-color: grey;
    border-radius: 8px;
}

#main-image {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
    height: auto;
    max-height: 500px;
}

#info-pane {
    width: 60%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    padding: 32px;
    gap: 8px;
}

#info-pane #title {
    font-size: 4rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#info-pane #rating {
    font-size: 1rem;
    margin: 0;
    padding: 4px 8px;
    background-color: black;
    color: white;
    display: inline-block;
    width: fit-content;
    border-radius: 8px;
}

#info-pane #description {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

#info-pane #stock {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

#details-pricing {
    padding: 8px 0;
    margin: 0;
}

#details-pricing #old-price {
    padding: 0;
    margin: 0;
}

.product-pricing * {
    padding: 0;
    margin: 0;
}

#details-cart-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
}

.search-bar {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search-bar input {
    flex: 1;
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
}

.search-bar button {
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.search-bar button:hover {
    background-color: #555;
}

/* Small Laptops */
@media (max-width: 1200px) {
	.GridView {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* Tablets */
@media (max-width: 900px) {
	.GridView {
		grid-template-columns: 1fr 1fr;
	}
}

/* Mobiles */
@media (max-width: 750px) {

	.header-container {
        display: grid;
        grid-template-areas:
            "logo cart"
            "search search";
    }

    #header-sub-logo-drop {
        grid-area: logo;
    }

    #cart-div {
        grid-area: cart;
    }

    .search-bar {
        grid-area: search;
        padding: 16px;
    }
}

@media (max-width: 600px) {
    .GridView {
        grid-template-columns: 1fr;
    }

    #details-pane {
        flex-direction: column;
        gap: 16px;
    }

    #image-pane {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    #image-pane img {
        width: 50px;
        height: 50px;
        padding: 8px;
    }

    #main-image {
        width: 100%;
    }

    #info-pane {
        width: 100%;
    }

    .product-list-view {
        flex-direction: column;
        gap: 16px;
    }

    .product-cart-image {
        width: 100%;
        padding: 0;
    }

    .cart-main-control {
        width: 100%;
    }

    .cart-controller {
        width: 100%;
    }

    .total-price {
        width: 100%;
        font-size: 1.5rem;
    }

    #cart-total {
        justify-content: center;
    }

    #cart-total h2 {
        font-size: 2rem;
    }
}