.CartView {
    padding: 32px;
}

#cart-view {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

#empty-cart {
    text-align: center;
}

.product-list-view {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px;
    border: 2px solid black;
    align-items: center;
    border-radius: 8px;
}

.product-cart-image {
    padding: 8px;
    width: 20%;
    height: 200px;
    border-radius: 16px;
    cursor: pointer;
}

.cart-main-control {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: start;
}

.cart-main-control #title {
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
}

.cart-main-control #title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cart-main-control #quantity {
    font-size: 1rem;
    flex: 1;
}

#total-price {
    font-size: 2rem;
    font-weight: bold;
    width: 20%;
    text-align: center;
}

.back-button {
    background-color: black;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    margin-bottom: 24px;
    border: none;
}

.back-button:hover {
    background-color: #555;
}