.cart-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.cart-quantity {
    font-size: 2rem;
    text-align: center;
    padding: 8px;
}

.cart-controller * {
    flex: 1;
}

.cart-control-button {
    background-color: black;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.cart-control-button:hover {
    background-color: #555;
}