#logo {
    text-align: center;
    font-family: "Sacramento", cursive;
    font-size: 3rem;
    cursor: pointer;
    padding: 0 16px;
    margin: 0;
}

.Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

#cart {
    flex: 1;
    width: 32px;
    height: 32px;
    margin: 0 8px;
}

#cart-div {
    position: relative;
    cursor: pointer;
}

#cart-div span {
    position: absolute;
    top: -4px;
    right: 0;
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 2px;
    width: 16px;
    height: 16px;
    font-size: 0.5rem;
    text-align: center;
    border-radius: 50%;
}