#ProductDetails {
    padding: 32px;
}

#details-pane {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
    gap: 32px;
}

#image-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 8px;
    gap: 32px;
}

#image-pane img {
    width: 75px;
    height: 75px;
    padding: 8px;
}

#image-pane img:hover {
    cursor: pointer;
    background-color: grey;
    border-radius: 8px;
}

#main-image {
    width: 500px;
    height: auto;
    max-height: 500px;
}

#info-pane {
    flex: 1;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    padding: 32px;
    gap: 8px;
}

#info-pane * {
    margin: 0;
    padding: 0;
}

#info-pane #title {
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
}

#info-pane #rating {
    font-size: 1rem;
    padding: 4px 8px;
    background-color: black;
    color: white;
    display: inline-block;
    width: fit-content;
    border-radius: 8px;
}

#info-pane #description {
    font-size: 1rem;
}

#info-pane #stock {
    font-size: 1rem;
}

#details-pricing {
    padding: 8px 0;
}

#details-cart-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
}