.search-bar {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search-bar input {
    flex: 1;
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
}

.search-bar button {
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.search-bar button:hover {
    background-color: #555;
}